.App {
  font-family: sans-serif;
  text-align: center;
}

.Header-pos {
  background-color: aqua;
  display: flex;
  padding-bottom: 2px;
}

.Header {
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
}

.discription {
  display: flex;
  padding: 5px;
  background-color: blanchedalmond;
  height: 500px;
  border: 1px solid black;
}

.p-edit {
  padding: 5px;
}
